<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1 style="text-align: center;">Login in</h1>

<div>
{#    <form action="/login" method="post" enctype="multipart/form-data">#}
    <form action="/login" method="post">
        <input type="text" name="uname"/>
        <hr/>
        <input type="radio" name="sex" value="male"/> Male <br>
        <input type="radio" name="sex" value="female"/> Female
        <hr/>
        <input type="checkbox" name="hobbits" value="girl"/>
        <input type="checkbox" name="hobbits" value="game"/>
        <input type="checkbox" name="hobbits" value="book"/><br>
{#        <input type="file" name="avatar"/>#}
{#        <input type="file" name="resume"/>#}
        <hr/>
        <textarea name="motto" id="" cols="30" rows="10">世界是我的表象</textarea>


        <input type="submit"/>
    </form>
</div>

</body>
</html>